@import '_vars';
@media screen and (max-width: 850px) {
	.locationDetails {
		flex-wrap: wrap;
	}
}

.detailsCardOuter {
	width: 50%;
	text-align: center;
	.detailsCardInner {
		border: none;
		padding: 0;
		margin: 20px 5px;

		h2 {
			position: relative;
			top: 0;
		}
	}
	&:nth-child(2n + 1) .detailsCardInner {
		border-right: 1px solid $Dark-Gray;
	}
}
